
.flex-img{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;  
    align-items:center;
    margin-top: 10%;
    margin-left: 10%;
    justify-content: center;


    
   
   
}
.img{
    margin-right: 20px;
    margin-bottom: 40px;
    width: 80%;
   
    
}
.logo{
    margin-bottom: 40px;
    width: 60%;
    height: 40%;
}
.button{
    margin-bottom:  30px;
    margin-top:  30px;
    margin-right: 5px;
    border-radius: 50px;
    padding: 14px 40px;
    font-size: 10px;
    font-weight: bold;
    border: 2px solid green;
    background-color: white;
    color: green;
    text-transform: uppercase; 
  
}
.gary-button{
    background-color: grey;
    border: none;
    color: white;

}
.small-img{
    margin-right: 30px;


}
.flex-small-img{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;  
    align-items:center;

   
   
}
.gary-text{
    color: gray;
    text-transform: capitalize;       

}
@media only screen and (min-width: 742px) {
    .button{
        margin-bottom:  30px;
        margin-top:  30px;
        margin-right: 20px;
        border-radius: 50px;
        padding: 14px 50px;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid green;
        background-color: white;
        color: green;
        text-transform: uppercase;       
     
      
    }
    .gary-button{
        background-color: grey;
        border: none;
        color: white;
    }
  }

